body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  font-size: 15px !important;
  line-height: 1 !important;
}

#root {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}
